In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

ModuleNotFoundError: No module named 'mlxtend'

In [2]:
!pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Collecting mlxtend
  Downloading mlxtend-0.22.0-py2.py3-none-any.whl (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 6.6 MB/s eta 0:00:00
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.1.1)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (65.6.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.7.0)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (22.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.22.0

In [3]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
data=pd.read_csv('C:/Users/DS4/Desktop/LabB4/basket.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14963 entries, 0 to 14962
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14963 non-null  object
 1   1       14963 non-null  object
 2   2       4883 non-null   object
 3   3       2185 non-null   object
 4   4       795 non-null    object
 5   5       451 non-null    object
 6   6       276 non-null    object
 7   7       196 non-null    object
 8   8       51 non-null     object
 9   9       1 non-null      object
 10  10      1 non-null      object
dtypes: object(11)
memory usage: 1.3+ MB

In [6]:
data.isna().sum()

0         0
1         0
2     10080
3     12778
4     14168
5     14512
6     14687
7     14767
8     14912
9     14962
10    14962
dtype: int64

In [7]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,14963,14963,4883,2185,795,451,276,196,51,1,1
unique,165,165,154,146,126,101,88,72,35,1,1
top,whole milk,whole milk,whole milk,whole milk,whole milk,shopping bags,yogurt,whole milk,shopping bags,curd,newspapers
freq,1083,983,244,111,39,25,19,14,4,1,1

In [8]:
data=data.fillna('')

In [9]:
data.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [10]:
df=pd.DataFrame(data)

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,whole milk,pastry,salty snack,,,,,,,,
1,sausage,whole milk,semi-finished bread,yogurt,,,,,,,
2,soda,pickled vegetables,,,,,,,,,
3,canned beer,misc. beverages,,,,,,,,,
4,sausage,hygiene articles,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
14958,butter milk,whipped/sour cream,,,,,,,,,
14959,bottled water,herbs,,,,,,,,,
14960,fruit/vegetable juice,onions,,,,,,,,,
14961,bottled beer,other vegetables,,,,,,,,,
14962,soda,root vegetables,semi-finished bread,,,,,,,,

In [12]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [13]:
oht = pd.get_dummies(df)

In [14]:
frequent_item_sets = apriori(oht, min_support=0.4, use_colnames=True)

C:\Users\DS4\AppData\Roaming\Python\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [15]:
association_rules_df = association_rules(frequent_item_sets, metric='confidence', min_threshold=0.7)

In [16]:
association_rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(3_),(2_),0.853973,0.673662,0.673662,0.788856,1.170997,0.098373,1.545571,1.000000
1,(2_),(3_),0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
2,(2_),(4_),0.673662,0.946869,0.673662,1.000000,1.056112,0.035792,inf,0.162810
3,(4_),(2_),0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
4,(2_),(5_),0.673662,0.969859,0.673662,1.000000,1.031078,0.020305,inf,0.092361
...,...,...,...,...,...,...,...,...,...,...
15995,"(7_, 4_)","(3_, 2_, 10_, 8_, 6_, 9_, 5_)",0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
15996,"(10_, 4_)","(3_, 2_, 8_, 6_, 9_, 7_, 5_)",0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
15997,(3_),"(2_, 5_, 8_, 4_, 6_, 9_, 7_, 10_)",0.853973,0.673662,0.673662,0.788856,1.170997,0.098373,1.545571,1.000000
15998,(2_),"(3_, 5_, 8_, 4_, 6_, 9_, 7_, 10_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
15999,(4_),"(3_, 2_, 5_, 8_, 6_, 9_, 7_, 10_)",0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000

In [17]:
frequent_item_sets

      support                               itemsets
0    0.673662                                   (2_)
1    0.853973                                   (3_)
2    0.946869                                   (4_)
3    0.969859                                   (5_)
4    0.981555                                   (6_)
..        ...                                    ...
506  0.673662      (3_, 2_, 8_, 4_, 6_, 9_, 7_, 10_)
507  0.673662      (3_, 2_, 5_, 8_, 6_, 9_, 7_, 10_)
508  0.673662      (2_, 10_, 8_, 4_, 6_, 9_, 7_, 5_)
509  0.853973      (3_, 10_, 8_, 4_, 6_, 9_, 7_, 5_)
510  0.673662  (3_, 2_, 5_, 8_, 4_, 6_, 9_, 7_, 10_)

[511 rows x 2 columns]

In [18]:
rules = association_rules(frequent_item_sets, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head(5))

   antecedents consequents  antecedent support  consequent support   support  \
1         (2_)        (3_)            0.673662            0.853973  0.673662
74    (2_, 4_)        (3_)            0.673662            0.853973  0.673662
76        (2_)    (3_, 4_)            0.673662            0.853973  0.673662
80    (2_, 5_)        (3_)            0.673662            0.853973  0.673662
82        (2_)    (3_, 5_)            0.673662            0.853973  0.673662

    confidence      lift  leverage  conviction  zhangs_metric
1          1.0  1.170997  0.098373         inf       0.447471
74         1.0  1.170997  0.098373         inf       0.447471
76         1.0  1.170997  0.098373         inf       0.447471
80         1.0  1.170997  0.098373         inf       0.447471
82         1.0  1.170997  0.098373         inf       0.447471

In [19]:
association_rules_df["antecedents_len"]=association_rules_df['antecedents'].apply(lambda x:len(x))
association_rules_df=association_rules_df[association_rules_df['antecedents_len']>1]
association_rules_df = association_rules_df.sort_values(['confidence','support'], ascending =[False,False])

In [20]:
print(association_rules_df.head(5))

    antecedents consequents  antecedent support  consequent support   support  \
507    (9_, 8_)       (10_)            0.996592            0.999933  0.996592
509   (8_, 10_)        (9_)            0.996592            0.999933  0.996592
489    (9_, 7_)        (8_)            0.986901            0.996592  0.986901
491    (7_, 8_)        (9_)            0.986901            0.999933  0.986901
495    (7_, 8_)       (10_)            0.986901            0.999933  0.986901

     confidence      lift  leverage  conviction  zhangs_metric  \
507         1.0  1.000067  0.000067         inf       0.019608
509         1.0  1.000067  0.000067         inf       0.019608
489         1.0  1.003420  0.003364         inf       0.260204
491         1.0  1.000067  0.000066         inf       0.005102
495         1.0  1.000067  0.000066         inf       0.005102

     antecedents_len
507                2
509                2
489                2
491                2
495                2